<h1>Add a new Artist</h1>
<div class="form-group">
  <form action="/view-all-artist" method="post">
    <div class="form-group">
      <label for="artist">Artist Name:</label>
      <input type="text" name="artist" id="artist">
    </div>
    <button type="submit">Enter</button>
  </form>
</div>
