<h1>Here are your Artist's!</h1>
<form action="/searchArtist" method="post">
  <label for="searchName">Enter an artist's name:</label>
  <input type="text" name="searchName" id="searchName">
  <button type="submit">Search</button>
</form>
<ul>
  @foreach (var artist in Model)
  {
    <li><a href="/artists/@artist.GetId()">@artist.GetArtistName()</a></li>
  }
</ul>
<a href="/artist/new">Add an Artist</a>
<a href="/">Home</a>
